<div class="panel panel-primary" >
<div class="panel-heading">Chat</div>
  <div class="panel-body"><br>
 <div ng-init="chatCtrl.init()">
                Message Box
                <select class='form-control' ng-model="search" >
                <option ng-repeat="chat in chatCtrl.Users" value="{{chat.username}}">{{chat.username}}</option >
                </select>
<div  ng-init="singleCtrl.init(data)">
        
         
           <div ng-init="chatCtrl.init1()"><p ng-repeat="m in chatCtrl.received | filter:search">Received:{{m.message}}</p>
           </div>
           
           <div ng-init="chatCtrl.init2()"><p ng-repeat="s in chatCtrl.sent | filter:search">Sent:{{s.message}}</p><br>
           </div>
           </div>
          
                
                
                
                Send To 
              <select class='form-control' ng-model="data1" >
                <option ng-repeat="ch in chatCtrl.Users" value="{{ch}}">{{ch.username}}</option >
                </select>  
                <br>
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Type Here" ng-model="chatCtrl.messageText" class="cleardefault" id="lollu">
                </div>
                
                <button type="submit" class="btn btn-success" ng-Click="chatCtrl.send(data1)">Send Message</button>
                
                
                {{singleCtrl.successmessage}}
            </div>
        </div>
 
