<div class="row">
			<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
				<div class="panel panel-default">

					<div class="panel-body">
		<form class="form-horizontal">
		<fieldset>
		<div class="row">
		<div class="center-block" align="center">
		<h3 font-family="Copperplate Gothic Light">Log In</h3>
				</div>
				<hr>
				</div>
				<div class="row">
			<div class="  col-sm-12 col-md-10  col-md-offset-1 ">
		<div class="form-group">
			<label for="username" >Username</label>
			<div class="input-group">
			<span class="input-group-addon"> 
			<i class="glyphicon glyphicon-user"></i>
			</span> 
				<input type="text" class="form-control" placeholder="username"
					id="username" ng-model="authCtrl.credentials.username" autofocus/>
			</div>
		</div>
		<div class="form-group">
			<label for="password" >Password</label>
			<div class="input-group">
			<span class="input-group-addon"> <i
			class="glyphicon glyphicon-lock"></i>
				</span>
				<input type="password" class="form-control" placeholder="password"
					id="password" ng-model="authCtrl.credentials.password" />
			</div>
		</div>

		<div class="form-group">
			<label>
				<button type="submit" ng-click="authCtrl.login()" align="right"
			class="btn btn-success pull-right" >Login</button>
			</label>
		</div>

		<div class="form-group">

			<div ng-show="authCtrl.error" align="center"
				class="col-sm-offset-2 col-sm-7 alert alert-danger">{{authCtrl.message}}</div>
				
				<font color="green">{{authCtrl.register}}</font>
				<font color="red">{{authCtrl.log}}</font>


		</div>
	</form>
</div>
